/* Background */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	background-color: #334033;
}

h1 {
	color: white;
	margin: 1% auto;
	width: 15%;
	font-size: 250%;
	
}

#game-canvas {
	position: absolute;
	right: 100px;
	top: 50px;
	background-image: url('space.jpg');
	z-index: -1;
}

#stats {
	margin: 0 auto;
	width: 10%;
	color: white;
}

#score {
	position: absolute;
	left: 100px;
	top: 30px;
}

#accuracy {
	position: absolute;
	right: 120px;
	top: 30px;
}

.over {
	color: white;
	position: absolute;
	left: 48%;
	top: 40%;
}

.over#final_stats {
	top: 45%;
	left: 45%;
}

.over#play_again{
	left: 45%;
	top: 50%;
}

li {
	list-style: none;
}

#instructions {
	color: white;
	position: absolute;
	left: 40%;
	top: 40%;
}